* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content > input {
  width: 30%;
  padding: 10px;
  font-size: 20px;
}

.content > p {
  font-size: 30px;
  margin-top: 1rem;
}

.content > p > span {
  font-size: 18px;
  margin-top: 1rem;
}

.theme-btn {
  position: absolute;
  top: 2%;
  right: 1%;
}

.theme-btn > button {
  font-size: 30px;
  padding: 10px;
  border: none;
}
